/*body{
    background-color: gray;
}*/
.navbar-brand{
    color: white;
}
.navbar-nav{
    color: black;
}
.nav{--bs-nav-link-color:gray ;}
.nav{--bs-nav-link-hover-color:green ;}

.nav-link:active{color: green;}

.container {
  position: relative;
  /*text-align: center;*/
  color: white;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0px;
  margin-right: 0px;
}

/* Bottom left text */
.text{
  position: absolute;
  bottom: 8px;
  left: 16px;
  /*text-align: right;*/
  padding-right: 10%;
  font-size: medium;
  padding-bottom:  5%;
  font-size:smaller;
  text-align:right ;
  padding-left: 50%;
  padding-bottom: 15%;

  float: right;
}
@media (min-width: 768px){.container{
    max-width: 100%;}
}

.encabezado{
    text-align: center;
}
.px-2{
  padding-left: 15%!important;
  padding-right: 15%!important;
  padding-bottom: 10%;
}
.section4{
  padding-right: 0;
  padding-left: 0;
  margin-left: 0px;
  margin-right: 0px;
}
.section4 img{
  height: 100%;
}
.section4 .card{
  --bs-card-border-radius: 0;
}
.section4 .card-body{
  background-color: black;
}
.formulario{
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 2%;
}
.form-floating, .d-grid, .gap-2{
  padding-top: 3%;
  text-align: left;
  color: gray;
  font-size: smaller;
}

.btn.btn-light.bg-transparent{
  color: white;
}
footer{
  background-color: #084d6e;
  color:white;
  text-align: center;

}

/**********************************/
#comprar_tickets{
  /*display: none;*/
  margin-left: 18%;
  margin-right:18%;
  margin-top:5%;
  margin-bottom:5%;
}
